<?xml version="1.0"?>
<launch>


    <include file="$(find robot_description)/launch/willowgarage_world.launch"/>

  <arg name="model" default="$(find robot_description)/urdf/newro.xacro"/>
  <param name="robot_description" command="xacro --inorder $(arg model)" />
  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.1 -model newrobot2" respawn="false" output="screen" />



  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
